# Configurações do Catálogo (Porta pública no host)
PORT_HOST=8204
SESSION_SECRET=super_secret_session_key_isw055
TMDB_API_KEY=sua_chave_tmdb_aqui

# Banco de Dados (MariaDB)
DB_HOST=mariadb
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=filmes_db

# Configurações de E-mail (Mailtrap em dev / Brevo em prod)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=seu_usuario_mailtrap
SMTP_PASS=sua_senha_mailtrap
SMTP_FROM="Catálogo Tom Hanks <no-reply@catalogofilmes.com>"

# URL Pública da Aplicação (usada na geração do link de redefinição de senha)
APP_URL=http://localhost:8204